.center
  .inner
    .text-center
      %h1.big stars.me
      %p.lead What repositories have you starred on GitHub?

      = form_tag root_path, method: :get do
        = text_field_tag :login, "", class: "form-control", placeholder: "Enter your github username"
